// Clipboard history
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
// Start the shell
spawn-at-startup "dms" "run"
// (Optional) replace with a polkit agent for escalation prompts
// spawn-at-startup "{{POLKIT_AGENT_PATH}}"

// If using niri newer than 271534e115e5915231c99df287bbfe396185924d (~aug 17 2025)
// you can add this to disable built in config load errors since dank shell provides this
