// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction
include "dms/binds_custom.kdl"

include "input.kdl"
include "outputs.kdl"
include "layout.kdl"
include "animations.kdl"
include "rules.kdl"
include "misc.kdl"
include "environment.kdl"
include "binds.kdl"

include "dms/config.kdl"

include "startup.kdl"


// spawn-at-startup "arch-update" "--tray"

// Dank keybinds
// 1. These should not be in conflict with any pre-existing keybindings
// 2. You need to merge them with your existing config if you want to use these
// 3. You can change the keys to whatever you want, if you prefer something different
// 4. For the increment/decrement ones you can change the steps to whatever you like too
include "dms/colors.kdl"
include "dms/layout.kdl"
include "dms/alttab.kdl"
include "dms/binds.kdl"
